
<div class="columns">

  <div class="column is-one-third">
    <div class="field">
        <label class="label is-large">Log In</label>
      <div class="control">
      <input class="input" type="email" placeholder="Email" id="email-login">
      </div>
    </div>
    <div class="field">
      <div class="control">
      <input class="input" type="password" placeholder="Password" id="password-login">
      </div>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success" id="login-form">Login</button>
      </p>
    </div>
  </div>
  
  <div class="column auto"></div>

  <form class="column is-one-third new-signup-form form">
    <div class="field">
      <label class="label is-large">Sign Up</label>
      <input class="input" type="text" placeholder="Name" id="username-signup">
    </div>
    <div class="field">
      <input class="input" type="email" placeholder="Email" id="email-signup">
    </div>
    <div class="field">
      <input class="input" type="password" placeholder="Password" id="password-signup">
    </div>
    <div class="field">
        <button type="submit" class="button is-success">Sign Up</button>
    </div>
  </form>

</div>

<script src="/js/login.js"></script>
